/* From testing, body only affects font. Background color is done below. */
/* use body tag to change font */
/* body {} */

/* Sidebar Color */
.w3-sidebar {
    background-color: white;
    height: 100%;
    width: 200px;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}