/* From testing, body only affects font. Background color is done below. */
body {
    font-family: "Trebuchet MS";
}

/* Background color has to be set here */
.darkmode-background {
    background: #aae5a4;
    position: fixed;
    pointer-events: none;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* The code below basically removes dark mode entirely. */

/* Hide dark mode toggle */
.darkmode-toggle {
    display: none;
}

/* Remove dark mode layer */
.darkmode-layer {
    display: none;
}

/* Make dark mode images normal */
body.darkmode--activated img,body.darkmode--activated .darkmode-ignore {
    mix-blend-mode: normal;
}