/* From testing, body only affects font. Background color is done below. */
body {
    font-family: "Trebuchet MS";
}

.darkmode-background {
    background: #aae5a4;
    position: fixed;
    pointer-events: none;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}